@media screen and (max-width: 1000px)
{
    .search-box
    {
        padding-bottom: 50px;
    }
    .faq-text
    {
        position: static;
        margin: 100px auto 0 auto;
        padding: 0;
        width: 80%;
        height: 300px;
    }
    .input-box
    {

        position: static;
        margin: 10px auto;
        width: 40%;
    }
}


@media screen and (max-width: 400px)
{
    .faq-text
    {
        width: 100%;
        height: 300px;
    }
    .input-box
    {
        margin: 20px 0;
        width: 100%;
    }
    .search-box
    {
        padding: 20px;
    }

    .container .text-judul
    {
        padding: 10px;
        width: 100%;
    }

    .contents
    {
        display: block;
        padding: 10px;
        margin-bottom: 50px;
    }
    .content
    {
        margin: 10px auto;
        width: 100%;
    }
    .content h3
    {
        font-size: 15px;
    }
}